<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizDaoCsv"
          class="org.shtanko.quiz.dao.QuizDaoCsv">
        <description>.csv file ith questions and answers</description>
        <constructor-arg name="source" value="/quiz.csv"/>
    </bean>

    <bean id="cvsParser"
          class="org.shtanko.quiz.util.CsvParser">
    </bean>

    <bean id="quizServiceCsv"
          class="org.shtanko.quiz.service.QuizServiceCsv">
        <constructor-arg name="quizDaoCsv" ref="quizDaoCsv"/>
        <constructor-arg name="csvParser" ref="cvsParser"/>
    </bean>
</beans>
